.DS_Store
.AppleDouble
.LSOverride
.gitmodules
plugin-config.js

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/docs

# Logs
/logs
*.log
/node_modules/
build
lib
node_modules/

# PHPStorm
.idea

# Sass Cache
*.sass-cache

*.swp

/vendor/
npm-shrinkwrap.json
includes/Ctct/
