# OSX
.DS_Store
.AppleDouble
.LSOverride

.gitmodules
plugin-config.js

/bin

# Logs
/logs
*.log
/node_modules/

# PHPStorm
.idea

# Composer
/vendor
/vendor_prefixed

### Xcode ###

## Xcode 8 and earlier

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings
