<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>

    <testsuites>

        <testsuite name="integration">
            <directory prefix="test-" suffix=".php" phpVersion="7.4.0" phpVersionOperator=">=">
                ./tests/
            </directory>
        </testsuite>

    </testsuites>

</phpunit>
