//--------------------------------------------------------------
// Lists
//--------------------------------------------------------------

.ctct-duplicate-list {
  .post-type-ctct_lists {
	#titlediv {
	  #title {
		background: fade-out(#FF4136, 0.98) url('../images/error.svg') no-repeat 8px 50%;
		background-size: 24px;
		border-color: #FF4136;
		padding-left: 40px;
	  }
	}
  }
}
