.post-type-ctct_forms {
	.misc-pub-section {
		&.misc-pub-visibility,
		&.misc-pub-curtime {
			display: none;
		}
	}
}

body.post-type-ctct_lists .misc-pub-post-status {
	display: none;
}

body.post-type-ctct_forms #titlediv #title {
	height: 2.7em;
}

.ctct-admin-title-details {
	font-size: .6em;
	vertical-align: middle;
	display: block;
	line-height: 2em;
}

#cmb2-metabox-ctct_1_optin_metabox {
	.cmb2-id--ctct-opt-in-instructions,
	.cmb2-id--ctct-opt-in {
		display: none;
	}

}

#ctct_0_list_metabox,
#ctct_1_custom_form_css_metabox,
#ctct_1_custom_input_css_metabox {
	.cmb-row {
		padding-bottom: 0;
	}
}

#cmb2-metabox-ctct_2_fields_metabox {
	.cmb2-id--ctct-title {
		padding: .8em 0 1em;
	}
}

#ctct_1_custom_form_css_metabox {
  .cmb2-id-form-title-title {
	padding: .8em 0 1em;
  }
}

#ctct_0_description_metabox,
#ctct_1_optin_metabox,
#ctct_2_fields_metabox {

	#custom_fields_group_repeat {
		.cmb-field-list .cmb-row:not(:last-of-type) {
			border-bottom: none;
			padding-bottom: 0.1em;
		}
		.required {
			padding-bottom: 0.1em;
			padding-top: 0.1em;
		}
	}

	#default_fields_group_repeat {
		.cmb-field-list {
			& > .cmb-row {
				padding-top: 0.5em;

				&:not(:last-of-type)  {
					padding-bottom: 0.1em;
					border-bottom: 1px solid #e9e9e9 !important;
				}
			}
		}
	}

	.cmb-repeat-group-wrap {
		padding: 0 !important;

		.cmb-repeatable-grouping {
			margin: 0 0 1.5em 0;

			.cmb-row {
				margin: 0 0 0 0.3em;
			}
		}

		.cmb-repeat-group-field {
			padding-top: 0.2em;
		}
	}

	.postbox-container .cmb-remove-field-row {
		padding-top: 0.8em;
		padding-bottom: 0.8em;
	}

	button {
		&.cmb-add-group-row {
			color: white !important;
			background: #008ec2 !important;
			border-color: #006799 !important;
		}
		&.cmb-remove-group-row {
			background: #ffdfa3 !important;
			display: none;
		}
	}

	.cmb2-metabox button.dashicons-before.dashicons-no-alt.cmb-remove-group-row {
		top: .3em;
	}

	h3.cmb-group-title.cmbhandle-title {
		padding-left: 1em;
	}
}

#ctct_1_optin_metabox {

	.cmb-row {
		border-bottom: none;
		padding: .5em 0px;
	}

	.cmb2-id--ctct-list {
		padding-bottom: 0.5em;
	}

	.cmb-th {
		width: 25%;
	}

	.cmb-th + .cmb-td {
		width: 70%;
	}
}

#ctct_option_metabox_settings {
  span.cmb2-metabox-description {
	color: rgb(68, 68, 68);
  }
}

#cmb2-metabox-email_settings,
#cmb2-metabox-ctct_2_generated_metabox,
#cmb2-metabox-ctct_1_custom_input_css_metabox {
	.cmb-row {
		padding-bottom: 0px !important;
	}
}

#side-sortables {

	#ctct_1_custom_form_css_metabox {

		.cmb-row {
			padding: 0.5em 0 0 0;
		} // .cmb-row

		.cmb-th {
			padding-bottom: 0;
		} // .cmb-th

		.cmb-type-title {
			border-bottom: none;
		} // .cmb-type-title

		.cmb2-id--ctct-form-title-font-size,
		.cmb2-id--ctct-form-description-font-size {
			border-bottom: none;
			margin-bottom: 0;
		} // .cmb2-id--ctct-form-title-font-size

	} // #ctct_1_custom_form_css_metabox

	#ctct_1_custom_input_css_metabox {
		.cmb2-id-form-padding-title {
			border-bottom: 0;
			padding-bottom: 0;
		} // .cmb2-id-form-padding-title

		.cmb2-id--ctct-input-margin-top,
		.cmb2-id--ctct-input-margin-right {
			margin-bottom: 0;
			margin-top: 0;
			padding-bottom: 0;
			padding-top: 0;
		} // .cmb2-id--ctct-input-margin-top, .cmb2-id--ctct-input-margin-right

		.cmb2-id--ctct-form-label-placement {
			padding-bottom: 0;
			margin-bottom: 0;
		} // .cmb2-id--ctct-form-label-placement

		.cmb-type-text-small {
			border-bottom: none;
			float: left;
			width: 50%;

			.cmb-th {
				padding-bottom: 0;
			} // .cmb-th
		} // .cmb-type-text-small
	} // #ctct_1_custom_input_css_metabox
} // #side-sortables
