.postbox-container .cmb-type-custom-attached-posts .cmb-th + .cmb-td {
	width: 100%;
}

.cmb-type-custom-attached-posts {
  .cmb-type-custom_attached_posts {
	padding-top: 0;
  }

  .attached-posts-wrap {
	display: inline-block;
	width: 100%;

	.attached {
	  float: right;

	  li {
		padding-left: 35px;
	  }
	}

	.retrieved {
	  li {
		&.added {
		  opacity: .5;

		  &:hover {
			background: #fff;
			cursor: initial;

			.add-remove {
			  background-position: 0 -22px;
			}
		  }
		}
	  }
	}
  }

  .column-wrap {
	float: left;
	width: 45%;
  }

  .retrieved-wrap {
	margin-right: 10%;
  }

  .attached-posts-section {
	margin-bottom: 5px;
  }

  .search-wrap .regular-text {
	width: 100%;
	margin: 0 0 7px 0;
  }

  .connected {
	background: #F4F4F4;
	cursor: pointer;
	height: 300px;
	overflow-y: scroll;
	padding: 0;
	width: 100%;

	li {
	  border-bottom: 1px solid #f1f1f1;
	  margin: 0;
	  padding: 10px 40px 10px 10px;
	  position: relative;

	  &.odd {
		background-color: #f9f9f9;
	  }
	  &:hover {
		background: #e6e6e6;
	  }

	  .add-remove,
	  .sort {
		display: block;
		height: 17px;
		margin-top: -8px;
		position: absolute;
		right: 10px;
		top: 50%;
		width: 22px;
	  }

	  .add-remove {
		right: 10px;
	  }

	  .sort {
		left: 10px;
	  }
	}
  }

  ul.hide-selected li.added {
	display: none;
  }

  .cmb2-attached-posts-search-button span {
	color: #999;
	margin: .2em -.2em 0 1px;
  }
}
