//--------------------------------------------------------------
// Lists
//--------------------------------------------------------------

@use "variables";
@use "sass:color";

.ctct-duplicate-list {
  .post-type-ctct_lists {
	#titlediv {
	  #title {
		background: color.adjust(variables.$color-red, $alpha: -0.98) url('../images/error.svg') no-repeat 8px 50%;
		background-size: 24px;
		border-color: variables.$color-red;
		padding-left: 40px;
	  }
	}
  }
}
