.updated.ctct-admin-notice,
.error.ctct-admin-notice {
	padding: 1em 38px 1em 1em ;
	position: relative;
}

a.ctct-notice-dismiss {
	text-decoration: none;
}

#ctct-admin-notice-activation {

	padding: 1em 1em 0 1em;

	.ctct-notice-intro {
		max-width: 600px;
		line-height: 1.5em;
	}

	.ctct-notice-button,
	.ctct-notice-button:active {
		vertical-align: middle;
		margin: .5em;
	}
}
.ctct-admin-notice {
  &.updated {
	border-left-color: rgb(26, 82, 133);
  }
  overflow: hidden;
  > div {
	float: left;
  }
  .admin-notice-message {
	margin-left: 15px;
	width: 80%;
	h4 {
	  color: rgb(26, 82, 133);
	  margin: 0 0 10px;
	}
	> div {
	  float: left;
	}
  }
}
