@use "variables";
// sass-lint:disable class-name-format no-qualifying-elements id-name-format

/* TwentyTen */
.wp-theme-twentyten {
  input[type="tel"] {
	background: variables.$color-twentyten-background;
	border: 1px solid variables.$color-twentyten-border;
	box-shadow: inset 1px 1px 1px variables.$box-shadow-02;
	padding: 2px;
  }
}

/* TwentyEleven */
.wp-theme-twentyeleven {
  input[type="tel"] {
	background: variables.$color-twentyeleven-background;
	border: 1px solid variables.$color-silver;
	box-shadow: inset 1px 1px 1px variables.$box-shadow-02;
	padding: 3px;
  }
}

/* TwentyThirteen */
.wp-theme-twentythirteen {
  input[type="tel"] {
	max-width: 270px;
	width: 60%;
  }
}

/* TwentyFourteen */
.ctct-twentyfourteen {

	.ctct-form-wrapper {
		.ctct-button {
			display: inline-block;
			font-size: 1rem;
			margin-bottom: 25px;
		}
	}

	.ctct-form-field input:not(.ctct-checkbox) {
		width: 100%;
	}
}

/* TwentyFifteen */
.ctct-twentyfifteen {

	.ctct-form-description ~ .ctct-button {
		display: inline-block;
		font-size: 1rem;
		margin-bottom: 25px;
	}

	.ctct-form-field {

		input[type="tel"] {
			padding: 0.5278em;
			width: 100%;
		}
	}

	.ctct-form-wrapper {

		.ctct-input-container {

			label {
				font-size: 75%;
			}
		}
	}
}

/* TwentySixteen */
.ctct-twentysixteen {

	.ctct-form-description ~ .ctct-button {
		display: inline-block;
		margin-bottom: 25px;
	}

	.ctct-form-wrapper {

		span.ctct-label-right {
			width: 80%;
		}
	}
}

/* TwentySeventeen */
.ctct-twentyseventeen {

	.ctct-form-description ~ .ctct-button {
		display: inline-block;
		margin-bottom: 25px;
	}

	.ctct-form-wrapper {

		.ctct-input-container {

			label {
				display: inline;
			}
		}

		span.ctct-label-right {
			width: 80%;
		}
	}
}

/* TwentyNineteen */
.ctct-twentynineteen {

	.ctct-form-description ~ .ctct-button {
		margin-bottom: 25px;
	}

	.ctct-address {
		margin-bottom: 1rem;
	}

	.ctct-form-field {

		input[type="text"],
		input[type="email"],
		input[type="url"],
		input[type="tel"] {
		  &.ctct-label-top,
		  &.ctct-label-bottom {
			width: 100%;
		  }
		}
	}
	@media screen and (max-width: 414px) {

		.ctct-form-wrapper {

			span.ctct-label-right {
				width: 80%;
			}
		}
	}
}

/* TwentyTwenty */
.ctct-twentytwenty {

	.ctct-form-description ~ .ctct-button {
		margin-bottom: 25px;
	}

	.ctct-form-wrapper {

		.ctct-form {

			abbr {
			  font-size: 1.6rem;
			}
		}

		.ctct-input-container {

			label {
			  font-size: 1.6rem;
			}
		}
	}
}

/* TwentyTwentyOne */
.ctct-twentytwentyone {

	.ctct-button{
			padding: 0 !important;
	}

	.ctct-form-field {

		input[type="text"],
		input[type="email"],
		input[type="url"],
		input[type="tel"] {
			width: 100%;
		}
	}

	.ctct-form-wrapper {
		input.ctct-label-right[type="checkbox"] {
			width: 25px;
		}
	}
}

/* Astra */
.ctct-astra {
	.ctct-form-wrapper {
		.ctct-button {
			margin-bottom: 15px;
		}
		fieldset {
			margin-bottom: 15px;
		}
		.ctct-checkbox.ctct-label-right {
			margin-right: 5px;
		}
	}

}

/* Avada */
.ctct-Avada {
	.ctct-form-wrapper {
		.ctct-checkbox {
		  min-width: auto;
		}
		.ctct-checkbox.ctct-label-right {
			margin-right: 5px;
		}

		.ctct-form-field {
			input[type="text"],
			input[type="email"],
			input[type="url"],
			input[type="tel"] {
				width: 100%;
			}
		}
	}
}

/* Hello Elementor and Hello Biz */
.ctct-hello-elementor,
.ctct-hello-biz {
	.ctct-form-wrapper {
		.ctct-button {
			display: inline-block;
			margin-bottom: 15px;
		}
		fieldset {
			margin-bottom: 15px;
		}
		.ctct-label-top {
			label {
				margin-bottom: 5px;
			}
		}
		.ctct-checkbox.ctct-label-right {
			margin-right: 5px;
		}
	}
}
