//--------------------------------------------------------------
//   FORMS
//--------------------------------------------------------------
.ctct-form-wrapper{
	// <form class="ctct-form">
	.ctct-form {
		@include clearfix;

		label {

		} // <label>

		abbr {
		    border: none;
			color: $color-red;
			font-size: 0.9em;
		} // <abbr>

	} // .ctct-form

	// If Field Description (optional) is provided
	// we wrap an extra div around <input> and <label>
	.ctct-input-container {

		label {
		    color: $color-gray;
			font-size: 0.8em;
		} // label

	} // .ctct-input-container

	.ctct-field-error {
		color: $color-red;
	}
	.ctct-submit {
	  cursor: pointer;
	}
}
