//--------------------------------------------------------------
//   INPUTS
//--------------------------------------------------------------

.ctct-form-wrapper{

	input {

		&[type="text"],
		&[type="email"],
		&[type="password"],
		&[type="tel"],
		&[type="number"] {

			// show success!
			&:required:valid {
				background: rgb(255,255,255) url( '../images/check_circle.svg' ) no-repeat;
				background-position: 8px 50%;
				background-size: 24px;
				border-color: $color-success;
				padding-left: 40px;
			}

			// show error.
			&:required.ctct-invalid,
			&.ctct-invalid {
				background: rgb(255,255,255) url( '../images/error.svg' ) no-repeat;
				background-color: fade-out($color-error, 0.98);
				background-position: 8px 50%;
				background-size: 24px;
				border-color: $color-error;
				padding-left: 40px;
			}
		}

	} // <input>

	.ctct-field-error {
		font-size: 0.85em;
		font-style: italic;
	}

	input.ctct-invalid {
		background: rgb(255,255,255) url( '../images/error.svg' ) no-repeat;
		background-color: fade-out($color-error, 0.98);
		background-position: 8px 50%;
		background-size: 24px;
		border-color: $color-error;
		padding-left: 40px;
	}

	#ctct_usage {
		position: absolute;
		overflow: hidden;
		clip: rect(0px, 0px, 0px, 0px);
		height: 1px;
		width: 1px;
		margin: -1px;
		border: 0px none;
		padding: 0px;
	}
}
