//--------------------------------------------------------------
//   Layout helpers
//--------------------------------------------------------------

.ctct-form-wrapper{

	.ctct-form-field {
	    margin: 0 0 1em;
	} // .ctct-form-field

	.ctct-field-inline {
		display: inline-block;
	} // .ctct-field-inline

	// 2-col layout helper for desktop
	.ctct-field-half {

		@include wider-than( 'medium' ) {
			float: left;
			margin-right: 2%;
			width: 48%;

			&:last-of-type {
				margin-right: 0;
			}
		}

	} // .ctct-field-half

	// 3-col layout helper for desktop
	.ctct-field-third {

		@include wider-than( 'medium' ) {
			float: left;
			margin-right: 2%;
			width: 32%;

			&:last-of-type {
				margin-right: 0;
			}
		}

	} // .ctct-field-third

	// 4-col layout helper for desktop
	.ctct-field-fourth {

		@include wider-than('medium') {
			float: left;
			margin-right: 2%;
			width: 24%;

			&:last-of-type {
				margin-right: 0;
			}
		}

	} // .ctct-field-fourth
}
