// sass-lint:disable class-name-format no-qualifying-elements id-name-format
//--------------------------------------------------------------
//   COLORS
//--------------------------------------------------------------

// Primary palette
$color-blue: #1856ed; // #265ae5;
$color-blue-alt: #2a57d5;
$color-green: #2ecc40;
$color-light-green: rgb(58, 209, 130);
$color-red: #ff4136;
$color-orange: #ff9500;
$color-orange-alt: #e38400;

// Grayscale
$color-black: #000;
$color-gray: #aaa;
$color-silver: #ddd;
$color-light-gray: #e9e9e9;
$color-lighter-gray: #f7f7f7;
$color-white: #fff;
$color-black-translucent: rgba(0,0,0, 0.5);

// Theming
$color-error: $color-red;
$color-success: $color-green;

// constant contact colors
$color-sky-blue: #88c5e2;
$color-chrome-yellow: #ffa901;
$color-prussian-blue: #0078c3;
$color-cc-blue: #1a5285;
$color-alt-silver: #efefee;

// text
$color-modal-alt-text: #646970;
$color-modal-header: #333;
$color-modal-text: #555;
$color-light-silver: #747e88;

// connect page
$color-connect-border: #DCE2EC;
$color-connect-background: #f7f9fd;
$color-connect-text: #3F4B63;
$color-connect-button-primary: #186DED;
$color-connect-button-secondary: #8D9BB6;

// box model
$padding: 1em;
$radius: 4px;
$shadow: 0 1px 5px rgba(0, 0, 0, 0.055);
$shadow_lg: 0 4px 10px rgba(0, 0, 0, 0.065);

// CMB Buttons
$color-cmb-button-light-blue: #008ec2;
$color-cmb-button-blue: #006799;
$color-cmb-button-pale-yellow: #ffdfa3;
$color-cmb-description-text: rgb(68, 68, 68);

// Modal
$color-modal-background: rgba( 0, 0, 0, 0.3 );

// Breakpoints
$breakpoints: (
	'xsmall': 599px,
	'small': 767px,
	'medium': 992px,
	'large': 1200px
) !default;
