// sass-lint:disable class-name-format no-qualifying-elements id-name-format
//--------------------------------------------------------------
//   COLORS
//--------------------------------------------------------------

// Primary palette
$color-blue: #0074d9;
$color-green: #2ecc40;
$color-red: #ff4136;

// Grayscale
$color-black: #000;
$color-gray: #aaa;
$color-silver: #ddd;
$color-white: #fff;

// Theming
$color-error: $color-red;
$color-success: $color-green;

// constant contact colors
$color-sky-blue: #88c5e2;
$color-chrome-yellow: #ffa901;
$color-prussian-blue: #0078c3;
$color-cc-blue: #1a5285;
$color-alt-silver: #efefee;

// text
$color-modal-alt-text: #606d78;
$color-modal-header: #333;
$color-modal-text: #555;
$color-light-silver: #747e88;

// box model
$padding: 1em;

// Breakpoints
$breakpoints: (
	'small': 767px,
	'medium': 992px,
	'large': 1200px
) !default;
