//--------------------------------------------------------------
//   COLORS
//--------------------------------------------------------------

// Primary palette
$color-blue: #0074D9;
$color-green: #2ECC40;
$color-red: #FF4136;

// Grayscale
$color-black: #000;
$color-gray: #aaa;
$color-silver: #ddd;
$color-white: #fff;

// Theming
$color-error: $color-red;
$color-success: $color-green;

// box model
$padding: 1em;

// Breakpoints
$breakpoints: (
	'small':  767px,
	'medium': 992px,
	'large':  1200px
) !default;