#ctct-support {
	li {
		padding: 0.8em 0;
	}

	ol li {
		list-style: none;
	}

	li {
		position: relative;
	}

	.answer {
		padding: 0.5em;
	}

	.question {
		font-size: 18px;
	font-weight: bold;
	}

	.question:before {
		content: "\f139";
		display: inline-block;
		font: normal 25px/1 'dashicons';
		margin-left: -25px;
		position: absolute;
		-webkit-font-smoothing: antialiased;
	}

	.question.active:before {
		content: "\f140";
	}

	.outer-first {
		width: 50%;
	}
}

//--------------------------------------------------------------
// About Page
//--------------------------------------------------------------

@import 'variables';
@import 'mixins';

.constant-contact-about {
	padding: 15px;

	h1.about-header {
		font-size: 26px;
		color: $color-cc-blue;
		margin-bottom: 15px;
	} // h1

	h3 {
		padding: 20px 0;
	} // h3 

	.about-text {

		p {
			font-size: 16px;
		}
	} // about-text

	.feature-section.two-col > div {
		width: 49%;
		float: left;
	}

	.headline-feature {
		max-width: 90%;
	}

	.headline-title, .c-text {
		text-align: center;
	}

	.featured-image {
		min-height: 150px;
		position: relative;
	}

	.fff-img {
		height: 315px;
  		max-width: 720px;
		margin: 20px;
		overflow: hidden;
	}

	.introduction {
		padding: 1.8em 0;
	}

	.featured-title {
		text-align: center;
		position: absolute;
		top: 80px;
		margin: 0 auto;
		width: 100%;
		font-size: 2em;
		font-weight: bold;
		color: white;
		text-shadow: 0 0 15px #000;
	}

	.featured-introduction {
		text-align: center;
		position: absolute;
		top: 120px;
		margin: 0 auto;
		width: 100%;
		font-size: 1.2em;
		color: white;
		text-shadow: 0 0 15px #000;
	}

	.hide-overflow {
		overflow: hidden;
	}

	.left-side {
		float:left;
		max-width:80%;
	}

	.plugin-badge {
		max-height: 180px;
		max-width: 160px;
		float: left;
		margin: 10px 0 0 0;
	}

	.feature-image {
		text-align: center;
	}

} // constant-contact-about