@import 'variables';
@import 'mixins';
@import 'modal';


.misc-pub-section {
	&.misc-pub-visibility,
	// &.misc-pub-post-status,
	&.misc-pub-curtime {
		display: none;
	}
}

#custom_fields_group_repeat .cmb-field-list .cmb-row:not(:last-of-type) {
	border-bottom: none;
	padding-bottom: 0.1em;
}

#custom_fields_group_repeat .required {
	padding-bottom: 0.1em;
	padding-top: 0.1em;
}

#ctct_1_optin_metabox .cmb-row {
	border-bottom: none;
}

#ctct_1_optin_metabox .cmb2-id--ctct-list {
	padding-bottom: 0.5em;
}


#ctct_1_optin_metabox .cmb-th {
	width: 25%;
}

#ctct_1_optin_metabox .cmb-th + .cmb-td {
	width: 70%;
}

#default_fields_group_repeat .cmb-field-list > .cmb-row {
	padding-top: 0.5em;
}

#default_fields_group_repeat .cmb-field-list > .cmb-row:not(:last-of-type)  {
	padding-bottom: 0.1em;
	border-bottom: 1px solid #e9e9e9 !important;
}

.cmb-repeat-group-wrap .cmb-repeatable-grouping {
	margin: 0 0 1.5em 0;
}

.cmb-repeat-group-wrap .cmb-repeatable-grouping .cmb-row {
	margin: 0 0 0 0.3em;
}

.postbox-container .cmb-remove-field-row {
	padding-top: 0.8em;
	padding-bottom: 0.8em;
}

.cmb-repeat-group-wrap {
	padding: 0 !important;
}

.cmb-repeat-group-wrap .cmb-repeat-group-field {
	padding-top: 0.2em;
}

button.cmb-add-group-row {
	color: white !important;
	background: #008ec2 !important;
	border-color: #006799 !important;
}

a.move-up::after {
  content: "move up";
}

a.move-down::after {
  content: "move down";
}

.cmb2-metabox button.dashicons-before.dashicons-no-alt.cmb-remove-group-row {
	top: .3em;
}

button.cmb-remove-group-row {
	background: #ffdfa3 !important;
}

#cmb2-metabox-ctct_2_fields_metabox button.cmb-remove-group-row {
	display: none;
}

#cmb2-metabox-ctct_2_fields_metabox h3.cmb-group-title.cmbhandle-title {
	padding-left: 1em;
}

body.post-type-ctct_forms #titlediv #title {
	height: 2.7em;
}
.ctct-admin-title-details {
	font-size: .6em;
	vertical-align: middle;
	display: block;
	line-height: 2em;
}
