#ctct-activated-admin-notice {

	padding: 1em 1em 0 1em;

	.ctct-activated-intro {
		max-width: 600px;
		line-height: 1.5em;
	}

	.ctct-activated-button,
	.ctct-activated-button:active {
		vertical-align: middle;
		margin: .5em;
	}

	.ctct-activated-dismiss {
		padding-left: .5em;
		display: inline;

		a, a.updated {
			vertical-align: middle;
		}

	}
}
