#ctct-activated-admin-notice {
  padding: 1em 1em 0 1em;
}

#ctct-activated-admin-notice .ctct-activated-intro {
  max-width: 600px;
  line-height: 1.5em;
}

#ctct-activated-admin-notice .ctct-activated-button {
  margin: .5em;
}

#ctct-activated-admin-notice .ctct-activated-dismiss {
  padding-left: .5em;
  vertical-align: middle;
}
