.ctct-modal {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  display: none;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

.ctct-modal::after {
  clear: both;
  content: '';
  display: table;
}

.ctct-modal h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.ctct-modal h2 img {
  display: block;
  max-width: 300px;
}

.ctct-modal h3 {
  color: #005990;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 15px;
  margin-top: 10px;
}

.ctct-modal p {
  color: #555;
  font-size: 14.7px;
}

.ctct-modal.ctct-modal-open {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}

.ctct-modal .ctct-modal-dialog {
  left: 50%;
  max-width: 760px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .ctct-modal .ctct-modal-dialog {
    max-width: 75%;
  }
}

@media screen and (max-width: 782px) {
  .ctct-modal .ctct-modal-dialog {
    left: 7.5%;
    margin-bottom: 15%;
    max-width: 85%;
    top: 15%;
    transform: translate(0, 0);
  }
}

.ctct-modal .ctct-modal-content {
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  padding: 0;
  position: relative;
}

.ctct-modal .ctct-modal-content .ctct-modal-header {
  background: #f7f7f7;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 30px;
  text-align: center;
  border-bottom: 1px solid #fff;
}

.ctct-modal .ctct-modal-content .ctct-modal-header p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 0;
}

.ctct-modal .ctct-modal-content .ctct-modal-header p .displayed-shortcode {
  color: #333;
}

.ctct-modal .ctct-modal-content .ctct-modal-header .ctct-modal-close {
  color: #000;
  cursor: pointer;
  font-size: 26px;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 15px;
  text-decoration: none;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ctct-modal .ctct-modal-content .ctct-modal-header .ctct-modal-close::after {
  clear: both;
  content: '';
  display: table;
}

.ctct-modal .ctct-modal-content .ctct-modal-footer {
  background-color: #f7f7f7;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: 1px solid #fff;
  padding: 20px;
  text-align: center;
}

.ctct-modal .ctct-modal-content .ctct-modal-footer p {
  font-size: 16px;
  margin: 0;
}

.ctct-modal .ctct-modal-content .ctct-modal-footer a {
  color: #0078c3;
  text-decoration: underline;
}

.ctct-modal .ctct-modal-content .ctct-modal-footer a:focus {
  outline: 1px dotted #000;
}

.ctct-modal .ctct-modal-content .ctct-modal-footer.ctct-modal-footer-privacy a {
  text-decoration: none;
}

.ctct-modal .ctct-modal-content .ctct-modal-footer.ctct-modal-footer-privacy a:focus {
  outline: 1px dotted #000;
}

.ctct-modal .ctct-modal-content .ctct-modal-footer .button {
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  height: auto;
  line-height: 1;
  margin-bottom: 10px;
  min-width: 180px;
  padding: 14px 30px;
}

.ctct-modal .ctct-modal-content .ctct-modal-footer .button.no-bg {
  border: none;
  box-shadow: none;
  color: #0078c3;
  background-color: #fff;
}

.ctct-modal .ctct-modal-content .ctct-modal-footer .button.button-orange {
  background-color: #ffa901;
  border: 1px solid #cd8800;
}

.ctct-modal .ctct-modal-content .ctct-modal-footer .button.button-orange:hover, .ctct-modal .ctct-modal-content .ctct-modal-footer .button.button-orange:focus {
  background-color: #cd8800;
}

.ctct-modal .ctct-modal-content .ctct-modal-footer .button.button-blue {
  background-color: #0078c3;
  border: 1px solid #005990;
}

.ctct-modal .ctct-modal-content .ctct-modal-footer .button.button-blue:hover, .ctct-modal .ctct-modal-content .ctct-modal-footer .button.button-blue:focus {
  background-color: #005990;
}

.ctct-modal .ctct-modal-content .ctct-modal-body {
  padding: 15px;
  position: relative;
}

.ctct-modal .ctct-modal-content .ctct-modal-body::after {
  clear: both;
  content: '';
  display: table;
}

.ctct-modal .ctct-modal-content .ctct-modal-body.ctct-privacy-modal-body {
  height: 350px;
  overflow-y: auto;
}

.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-left,
.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-right {
  box-sizing: border-box;
  float: left;
  padding: 15px 50px;
  text-align: center;
  width: 50%;
}

@media screen and (max-width: 782px) {
  .ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-left,
  .ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-right {
    float: none;
    width: 100%;
  }
}

.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-left img.ctct-modal-flare,
.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-left svg.ctct-modal-flare,
.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-right img.ctct-modal-flare,
.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-right svg.ctct-modal-flare {
  height: auto;
  max-width: 120px;
}

.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-left p,
.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-right p {
  margin: 0 auto 25px;
  max-width: 90%;
}

.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-left p.small,
.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-right p.small {
  line-height: 1;
  margin: 0;
  max-width: 100%;
}

.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-left small,
.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-right small {
  font-style: italic;
}

.ctct-modal .ctct-modal-content .ctct-modal-body .now-what {
  text-align: center;
}

.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-left {
  border-right: 1px solid #efefee;
}

@media screen and (max-width: 782px) {
  .ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-left {
    border-bottom: 1px solid #efefee;
    border-right: 0;
  }
}

.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-right {
  border-left: 2px solid #efefee;
}

@media screen and (max-width: 782px) {
  .ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-right {
    border-left: 0;
    border-top: 1px solid #efefee;
  }
}

.ctct-modal .ctct-modal-content .ctct-modal-body.ctct-custom-textarea .ctct-modal-left {
  border: none;
  padding-left: 15px;
  text-align: left;
}

.ctct-modal .ctct-modal-content .ctct-modal-body.ctct-custom-textarea .ctct-modal-right {
  border: none;
  padding: 15px;
}

.ctct-modal .ctct-modal-content .ctct-modal-body .button {
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  height: auto;
  line-height: 1;
  margin-bottom: 10px;
  min-width: 180px;
  padding: 14px 30px;
}

.ctct-modal .ctct-modal-content .ctct-modal-body .button.button-orange {
  background-color: #ffa901;
  border: 1px solid #cd8800;
}

.ctct-modal .ctct-modal-content .ctct-modal-body .button.button-orange:hover, .ctct-modal .ctct-modal-content .ctct-modal-body .button.button-orange:focus {
  background-color: #cd8800;
}

.ctct-modal .ctct-modal-content .ctct-modal-body .button.button-blue {
  background-color: #0078c3;
  border: 1px solid #005990;
}

.ctct-modal .ctct-modal-content .ctct-modal-body .button.button-blue:hover, .ctct-modal .ctct-modal-content .ctct-modal-body .button.button-blue:focus {
  background-color: #005990;
}

.ctct-modal .ctct-modal-content .ctct-modal-body .privacy-center-container a.button {
  color: #555;
}

.ctct-header {
  display: none;
  position: relative;
  z-index: 2;
}

@media (min-width: 599px) {
  .ctct-header {
    margin: 0 0 0 -20px;
    padding: 0 0 0 20px;
    background-color: #fff;
    border-bottom: 1px solid #c3c4c7;
    display: flex;
    width: 100%;
    align-items: center;
  }
}

.ctct-header h2 {
  margin: 0;
  padding: 0 0 0 39px;
  min-height: 32px;
  line-height: 32px;
  background: #fff url(../images/ctct-icon-2x.png) no-repeat 0 48%;
  background-size: 32px 32px;
  text-indent: -9999px;
}

@media (min-width: 767px) {
  .ctct-header h2 {
    text-indent: 0;
  }
}

.ctct-header ul {
  padding: 0 0 0 20px;
  margin: 0;
  flex: 1;
  display: flex;
  align-items: center;
  width: 100%;
}

.ctct-header ul li {
  margin: 0 15px 0 0;
  padding: 0;
}

.ctct-header ul li a {
  padding: 20px 5px;
  display: block;
  text-decoration: none;
  position: relative;
}

.ctct-header ul li a.is-active {
  font-weight: 600;
  text-decoration: underline;
}

.ctct-header ul li a.is-active::after, .ctct-header ul li a.is-active::before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ctct-header ul li a.is-active::after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 7px;
  margin-left: -7px;
}

.ctct-header ul li a.is-active::before {
  border-color: rgba(195, 196, 199, 0);
  border-top-color: #c3c4c7;
  border-width: 8px;
  margin-left: -8px;
}

.ctct-header ul li a.ctct-connect-btn {
  color: #fff;
  background-color: #1856ed;
  border: 1px solid #2a57d5;
  padding: 8px;
  border-radius: 3px;
  font-weight: 500;
}

.ctct-header ul li a.ctct-connect-btn:hover, .ctct-header ul li a.ctct-connect-btn:focus {
  background-color: #2a57d5;
}

.ctct-header ul li a.ctct-disconnect a {
  background-color: #ff9500;
  border: 1px solid #e38400;
}

.ctct-header ul li a.ctct-disconnect a:hover, .ctct-header ul li a.ctct-disconnect a:focus {
  background-color: #e38400;
}

.ctct-header .ctct-status {
  display: none;
  align-items: center;
  margin-right: 20px;
  font-weight: 500;
  padding: 7px 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  text-decoration: none;
  color: #646970;
}

@media (min-width: 992px) {
  .ctct-header .ctct-status {
    display: flex;
  }
}

.ctct-header .ctct-status:hover, .ctct-header .ctct-status:focus {
  color: #000;
  border-color: #ddd;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.055);
}

.ctct-header .ctct-status:focus {
  background-color: #f7f7f7;
  color: #000;
  box-shadow: none;
}

.ctct-header .ctct-status::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #ff4136;
  margin-right: 7px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.ctct-header .ctct-status.ctct-connected::before {
  background-color: #2ecc40;
}

#adminmenu .wp-submenu a[href='edit.php?post_type=ctct_forms&page=ctct_options_connect'] {
  color: #3ad182;
}

.wrap.ctct_options_connect {
  box-sizing: border-box;
  margin: 35px auto 0;
  padding: 35px;
  max-width: 850px;
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.065);
  text-align: center;
  z-index: 1;
}

.wrap.ctct_options_connect * {
  box-sizing: border-box;
}

@media (min-width: 767px) {
  .wrap.ctct_options_connect {
    margin: 55px auto 0;
  }
}

.wrap.ctct_options_connect.text-left {
  text-align: left;
}

.wrap.ctct_options_connect::before {
  width: 46px;
  height: 46px;
  position: absolute;
  left: 50%;
  top: -23px;
  margin-left: -23px;
  display: block;
  border-radius: 100%;
  content: '';
  z-index: -1;
  border-top: 1px solid #ddd;
  background: #fff url(../images/ctct-icon-2x.png) no-repeat center 45%;
}

.wrap.ctct_options_connect h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 15px;
  padding: 0;
}

.wrap.ctct_options_connect h2 + p {
  font-size: 16px;
  margin: 0 0 25px;
  padding: 0 10% 25px;
  position: relative;
}

.wrap.ctct_options_connect h2 + p::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 50px;
  left: 50%;
  bottom: 0;
  margin-left: -25px;
  background-color: #ddd;
}

.wrap.ctct_options_connect .ctct-connected-wrap {
  padding: 45px 35px;
  background-color: #f7f7f7;
  border-radius: 4px;
}

.wrap.ctct_options_connect .ctct-call-to-actions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.wrap.ctct_options_connect .ctct-call-to-actions--item {
  width: 100%;
  margin: 0 0 25px;
  padding: 30px 25px 25px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 6px;
  border: 1px solid #e9e9e9;
  transition: all 0.15s ease;
}

@media (min-width: 767px) {
  .wrap.ctct_options_connect .ctct-call-to-actions--item {
    width: calc(50% - 5px);
  }
}

.wrap.ctct_options_connect .ctct-call-to-actions--item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.065);
}

.wrap.ctct_options_connect .ctct-call-to-actions--item.connect-account {
  border-color: #d1dfe8;
  background-color: #f5faff;
}

.wrap.ctct_options_connect .ctct-call-to-actions--item.connect-account:hover {
  border-color: #90afc3;
}

.wrap.ctct_options_connect .ctct-call-to-actions--item.no-account {
  border-color: #e2d9c4;
  background-color: #fff8e9;
}

.wrap.ctct_options_connect .ctct-call-to-actions--item.no-account:hover {
  border-color: #c7ba9a;
}

.wrap.ctct_options_connect .ctct-call-to-actions--item p {
  margin-bottom: 15px;
  line-height: 1.6;
  padding: 0 5px;
}

.wrap.ctct_options_connect h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.55;
  margin: 0 0 10px;
}

.wrap.ctct_options_connect p {
  color: #646970;
  font-size: 14px;
  margin-top: 0;
}

.wrap.ctct_options_connect p.small {
  color: #747e88;
  font-size: 12px;
  margin: 0 auto;
  padding: 0 10%;
  line-height: 1.75;
  text-align: center;
}

.wrap.ctct_options_connect hr {
  margin: 35px 0;
}

.wrap.ctct_options_connect .button.ctct-button {
  border-radius: 4px;
  color: #0078c3;
  font-size: 16px;
  font-weight: 600;
  height: auto;
  line-height: 1;
  margin: 25px 0 0;
  min-width: 180px;
  padding: 14px 30px;
  align-self: flex-end;
  width: 100%;
  transition: all 0.15s ease;
}

.wrap.ctct_options_connect .button.ctct-button.button-orange {
  background-color: #ffa901;
  border: 1px solid #cd8800;
  color: #fff;
}

.wrap.ctct_options_connect .button.ctct-button.button-orange:hover, .wrap.ctct_options_connect .button.ctct-button.button-orange:focus {
  color: #fff;
  background-color: #ffba34;
}

.wrap.ctct_options_connect .button.ctct-button.button-blue {
  background-color: #0078c3;
  border: 1px solid #005990;
  color: #fff;
}

.wrap.ctct_options_connect .button.ctct-button.button-blue:hover, .wrap.ctct_options_connect .button.ctct-button.button-blue:focus {
  color: #fff;
  background-color: #0097f6;
}

.ctct-connected-wrap .ctct-connection-details {
  display: flex;
  text-align: left;
  margin: 10px 0 0;
}

.ctct-connected-wrap .ctct-connection-details > p,
.ctct-connected-wrap .ctct-connection-details form {
  padding: 0 10px;
  width: 50%;
  text-align: left;
  display: flex;
  align-items: center;
  margin: 0;
}

.ctct-connected-wrap .ctct-connection-details > p:not(form):first-of-type,
.ctct-connected-wrap .ctct-connection-details form:not(form):first-of-type {
  text-align: right;
}

.ctct-connected-wrap .ctct-connection-details > p input,
.ctct-connected-wrap .ctct-connection-details form input {
  position: relative;
  top: 2px;
}

.ctct-connected-wrap .ctct-connection-details p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ctct-connected-wrap .ctct-connection-details p.ctct-label {
  justify-content: flex-end;
}

.ctct-connected-next-step {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.ctct-connected-next-step p {
  margin: 0 0 15px;
}

.ctct-connected-next-step > div {
  width: 100%;
}

@media (min-width: 767px) {
  .ctct-connected-next-step > div {
    width: calc(50% - 10px);
  }
}

.ctct-connected-next-step .ctct-video {
  margin-bottom: 15px;
}

@media (min-width: 767px) {
  .ctct-connected-next-step .ctct-video {
    margin-bottom: 0;
    padding-right: 5px;
  }
}

.ctct-connected-next-step .ctct-video .wistia_embed {
  max-width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.ctct-connected-opt-in {
  display: none;
  width: 100%;
  text-align: left;
}

.ctct-connected-opt-in .ctct-connect-ga-optin {
  display: flex;
  flex-wrap: nowrap;
  padding: 15px 0 0;
}

.ctct-connected-opt-in .ctct-connect-ga-optin .button {
  text-align: center;
  margin: 0 10px 0 0;
  width: auto;
}

.ctct-error {
  background: none !important;
  border: 1px solid #ff4136;
  border-radius: 4px;
  box-shadow: none !important;
  display: inline-block;
  padding: 15px;
  margin: 0 0 25px 0 !important;
}

.ctct-error p {
  color: #ff4136 !important;
}

.ctct_options_logging #ctct_error_logs {
  height: 400px;
  resize: vertical;
  width: 100%;
  padding: 20px;
  margin: 10px 0 20px;
  background-color: #fff;
}

.constant-contact-about .ctct-section {
  margin: 0 0 30px;
}

.constant-contact-about .ctct-video-cta {
  padding: 0;
}

@media (min-width: 767px) {
  .constant-contact-about .ctct-video-cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .constant-contact-about .ctct-video-cta > div {
    width: calc(50% - 15px);
  }
}

@media (min-width: 767px) {
  .constant-contact-about .ctct-video-cta h3 {
    margin: 0 0 15px;
  }
}

.constant-contact-about ul {
  list-style: disc;
  padding-left: 24px;
}

.constant-contact-about .section-try-us {
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.constant-contact-about .section-try-us h2, .constant-contact-about .section-try-us p {
  margin: 0 0 15px;
}

.constant-contact-about .section-try-us hr {
  margin: 20px 0;
}

.constant-contact-about .section-try-us .ctct-try-us-cta {
  display: flex;
  align-items: center;
}

.constant-contact-about .section-try-us .ctct-try-us-cta p {
  margin: 0;
}

.constant-contact-about .section-try-us .ctct-try-us-cta .item {
  margin: 0 15px 0 0;
  font-size: 14px;
}

.constant-contact-about .section-try-us .button {
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  height: auto;
  line-height: 1;
  min-width: 180px;
  padding: 14px 30px;
  text-align: center;
}

.constant-contact-about .section-try-us .button.button-orange {
  background-color: #ffa901;
  border: 1px solid #cd8800;
}

.constant-contact-about .section-try-us .button.button-orange:hover, .constant-contact-about .section-try-us .button.button-orange:focus {
  background-color: #cd8800;
}

.constant-contact-about .section-try-us .button.button-blue {
  background-color: #0078c3;
  border: 1px solid #005990;
}

.constant-contact-about .section-try-us .button.button-blue:hover, .constant-contact-about .section-try-us .button.button-blue:focus {
  background-color: #005990;
}

.constant-contact-about .ctct-license {
  margin-top: 30px;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.constant-contact-about .small-text {
  max-width: 800px;
}

.post-type-ctct_forms img {
  max-width: 100%;
}

.post-type-ctct_forms .misc-pub-section.misc-pub-visibility, .post-type-ctct_forms .misc-pub-section.misc-pub-curtime {
  display: none;
}

body.post-type-ctct_lists .misc-pub-post-status {
  display: none;
}

body.post-type-ctct_forms #titlediv #title {
  height: 2.7em;
}

.ctct-admin-title-details {
  display: block;
  font-size: 0.6rem;
  line-height: 2;
}

#cmb2-metabox-ctct_1_optin_metabox .cmb2-id--ctct-opt-in-instructions,
#cmb2-metabox-ctct_1_optin_metabox .cmb2-id--ctct-opt-in {
  display: none;
}

#ctct_0_list_metabox .cmb-row,
#ctct_1_custom_form_css_metabox .cmb-row,
#ctct_1_custom_input_css_metabox .cmb-row {
  padding-bottom: 0;
}

#cmb2-metabox-ctct_2_fields_metabox .cmb2-id--ctct-title {
  padding: 0.8rem 0 1rem;
}

#ctct_1_custom_form_css_metabox .cmb2-id-form-title-title {
  padding: 0.8rem 0 1rem;
}

#ctct_0_description_metabox #custom_fields_group_repeat .cmb-field-list .cmb-row:not(:last-of-type),
#ctct_1_optin_metabox #custom_fields_group_repeat .cmb-field-list .cmb-row:not(:last-of-type),
#ctct_2_fields_metabox #custom_fields_group_repeat .cmb-field-list .cmb-row:not(:last-of-type) {
  border-bottom: none;
  padding-bottom: 0.1em;
}

#ctct_0_description_metabox #custom_fields_group_repeat .required,
#ctct_1_optin_metabox #custom_fields_group_repeat .required,
#ctct_2_fields_metabox #custom_fields_group_repeat .required {
  padding-bottom: 0.1em;
  padding-top: 0.1em;
}

#ctct_0_description_metabox #default_fields_group_repeat .cmb-field-list > .cmb-row,
#ctct_1_optin_metabox #default_fields_group_repeat .cmb-field-list > .cmb-row,
#ctct_2_fields_metabox #default_fields_group_repeat .cmb-field-list > .cmb-row {
  padding-top: 0.5em;
}

#ctct_0_description_metabox #default_fields_group_repeat .cmb-field-list > .cmb-row:not(:last-of-type),
#ctct_1_optin_metabox #default_fields_group_repeat .cmb-field-list > .cmb-row:not(:last-of-type),
#ctct_2_fields_metabox #default_fields_group_repeat .cmb-field-list > .cmb-row:not(:last-of-type) {
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 0.1rem;
}

#ctct_0_description_metabox .cmb-repeat-group-wrap,
#ctct_1_optin_metabox .cmb-repeat-group-wrap,
#ctct_2_fields_metabox .cmb-repeat-group-wrap {
  padding: 0;
}

#ctct_0_description_metabox .cmb-repeat-group-wrap .cmb-repeatable-grouping,
#ctct_1_optin_metabox .cmb-repeat-group-wrap .cmb-repeatable-grouping,
#ctct_2_fields_metabox .cmb-repeat-group-wrap .cmb-repeatable-grouping {
  margin: 0 0 1.5rem 0;
}

#ctct_0_description_metabox .cmb-repeat-group-wrap .cmb-repeatable-grouping .cmb-row,
#ctct_1_optin_metabox .cmb-repeat-group-wrap .cmb-repeatable-grouping .cmb-row,
#ctct_2_fields_metabox .cmb-repeat-group-wrap .cmb-repeatable-grouping .cmb-row {
  margin: 0 0 0 0.3rem;
}

#ctct_0_description_metabox .cmb-repeat-group-wrap .cmb-repeat-group-field,
#ctct_1_optin_metabox .cmb-repeat-group-wrap .cmb-repeat-group-field,
#ctct_2_fields_metabox .cmb-repeat-group-wrap .cmb-repeat-group-field {
  padding-top: 0.2em;
}

#ctct_0_description_metabox .postbox-container .cmb-remove-field-row,
#ctct_1_optin_metabox .postbox-container .cmb-remove-field-row,
#ctct_2_fields_metabox .postbox-container .cmb-remove-field-row {
  padding-bottom: 0.8em;
  padding-top: 0.8em;
}

#ctct_0_description_metabox button.cmb-add-group-row,
#ctct_1_optin_metabox button.cmb-add-group-row,
#ctct_2_fields_metabox button.cmb-add-group-row {
  background: #008ec2 !important;
  border-color: #006799 !important;
  color: #fff !important;
}

#ctct_0_description_metabox button.cmb-remove-group-row,
#ctct_1_optin_metabox button.cmb-remove-group-row,
#ctct_2_fields_metabox button.cmb-remove-group-row {
  background: #ffdfa3 !important;
  display: none;
}

#ctct_0_description_metabox .cmb2-metabox button.dashicons-before.dashicons-no-alt.cmb-remove-group-row,
#ctct_1_optin_metabox .cmb2-metabox button.dashicons-before.dashicons-no-alt.cmb-remove-group-row,
#ctct_2_fields_metabox .cmb2-metabox button.dashicons-before.dashicons-no-alt.cmb-remove-group-row {
  top: 0.3rem;
}

#ctct_0_description_metabox h3.cmb-group-title.cmbhandle-title,
#ctct_1_optin_metabox h3.cmb-group-title.cmbhandle-title,
#ctct_2_fields_metabox h3.cmb-group-title.cmbhandle-title {
  padding-left: 1em;
}

#ctct_1_optin_metabox .cmb-row {
  border-bottom: none;
  padding: 0.5rem 0;
}

#ctct_1_optin_metabox .cmb2-id--ctct-list {
  padding-bottom: 0.5em;
}

#ctct_1_optin_metabox .cmb-th {
  width: 25%;
}

#ctct_1_optin_metabox .cmb-th + .cmb-td {
  width: 70%;
}

#ctct_option_metabox_settings span.cmb2-metabox-description {
  color: #444444;
}

#cmb2-metabox-email_settings .cmb-row,
#cmb2-metabox-ctct_2_generated_metabox .cmb-row,
#cmb2-metabox-ctct_1_custom_input_css_metabox .cmb-row {
  padding-bottom: 0 !important;
}

#side-sortables #ctct_1_custom_form_css_metabox .cmb-row {
  padding: 0.5rem 0 0 0;
}

#side-sortables #ctct_1_custom_form_css_metabox .cmb-th {
  padding-bottom: 0;
}

#side-sortables #ctct_1_custom_form_css_metabox .cmb-type-title {
  border-bottom: none;
}

#side-sortables #ctct_1_custom_form_css_metabox .cmb2-id--ctct-form-title-font-size,
#side-sortables #ctct_1_custom_form_css_metabox .cmb2-id--ctct-form-description-font-size {
  border-bottom: none;
  margin-bottom: 0;
}

#side-sortables #ctct_1_custom_input_css_metabox .cmb2-id-form-padding-title {
  border-bottom: 0;
  padding-bottom: 0;
}

#side-sortables #ctct_1_custom_input_css_metabox .cmb2-id--ctct-input-margin-top,
#side-sortables #ctct_1_custom_input_css_metabox .cmb2-id--ctct-input-margin-right {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

#side-sortables #ctct_1_custom_input_css_metabox .cmb2-id--ctct-form-label-placement {
  margin-bottom: 0;
  padding-bottom: 0;
}

#side-sortables #ctct_1_custom_input_css_metabox .cmb-type-text-small {
  border-bottom: none;
  float: left;
  width: 50%;
}

#side-sortables #ctct_1_custom_input_css_metabox .cmb-type-text-small .cmb-th {
  padding-bottom: 0;
}

#side-sortables .cmb2-id--ctct-generated-shortcode > .cmb-th {
  display: none;
}

.cmb2-id--ctct-list .cmb2-list {
  background: linear-gradient(#fff 33%, transparent), linear-gradient(transparent, #fff 66%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.5), transparent), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.5), transparent) 0 100%;
  background-attachment: local, local, scroll, scroll;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100% 30px, 100% 30px, 100% 10px, 100% 10px;
  max-height: 10rem;
  overflow-y: auto;
}

.ui-dialog .cmb-type-checkbox.cmb2-id--ctct-show-title .cmb-th {
  width: 90px;
}

.updated.ctct-admin-notice,
.error.ctct-admin-notice {
  padding: 1rem 38px 1rem 1rem;
  position: relative;
}

a.ctct-notice-dismiss {
  text-decoration: none;
}

#ctct-admin-notice-activation {
  padding: 1rem 1rem 0 1rem;
}

#ctct-admin-notice-activation .ctct-notice-intro {
  line-height: 1.5;
  max-width: 600px;
}

#ctct-admin-notice-activation .ctct-notice-button,
#ctct-admin-notice-activation .ctct-notice-button:active {
  margin: 0.5rem;
  vertical-align: middle;
}

.ctct-admin-notice {
  overflow: hidden;
}

.ctct-admin-notice.updated {
  border-left-color: #1a5285;
}

.ctct-admin-notice > div {
  float: left;
}

.ctct-admin-notice .admin-notice-message {
  margin-left: 15px;
  width: 80%;
}

.ctct-admin-notice .admin-notice-message h4 {
  color: #1a5285;
  margin: 0 0 10px;
}

.ctct-admin-notice .admin-notice-message > div {
  float: left;
}

.cmb2-options-page[class*="option-ctct_options_settings_"] .cmb2-metabox > .cmb-row {
  background: transparent;
  border: none;
  box-shadow: none;
}

.cmb2-options-page[class*="option-ctct_options_settings_"] .regular-text {
  width: 500px;
}

.wp-admin .wrap.ctct-page-wrap {
  max-width: 1000px;
  margin: 0;
  padding: 20px 10px 0 2px;
}

@media (min-width: 767px) {
  .wp-admin .wrap.ctct-page-wrap {
    padding-right: 20px;
  }
}

.wp-admin .wrap.ctct-page-wrap > h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 20px;
  padding: 0;
}

.wp-admin .wrap.ctct-page-wrap p, .wp-admin .wrap.ctct-page-wrap li {
  font-size: 14px;
  line-height: 1.65;
}

.wp-admin .wrap.ctct-page-wrap p.small-text, .wp-admin .wrap.ctct-page-wrap li.small-text {
  font-size: 12px;
}

.wp-admin .wrap.ctct-page-wrap p.large-text, .wp-admin .wrap.ctct-page-wrap li.large-text {
  font-size: 16px;
}

.wp-admin .wrap.ctct-page-wrap p.xlarge-text, .wp-admin .wrap.ctct-page-wrap li.xlarge-text {
  font-size: 18px;
}

.wp-admin .wrap.ctct-page-wrap .text-centered {
  text-align: center;
}

.wp-admin .wrap.ctct-page-wrap .iframe-wrap {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.wp-admin .wrap.ctct-page-wrap .iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.wp-admin hr {
  border-top: none;
  border-color: #ddd;
}

.wp-admin form.cmb-form h2 {
  margin: 0;
  padding: 14px;
}

.wp-admin form.cmb-form .description,
.wp-admin form.cmb-form p.submit {
  padding: 0 14px;
  margin-bottom: 10px;
}

.wp-admin form.cmb-form .cmb-th,
.wp-admin form.cmb-form .cmb-th label {
  font-weight: 600;
}

.wp-admin .ctct-button-actions {
  display: flex;
  justify-content: flex-start;
}

.wp-admin .ctct-button-actions a {
  align-self: flex-start;
  margin: 0 10px 0 0;
}

.wp-admin .ctct-shortcode-wrap {
  display: flex;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 3px;
  position: relative;
}

.wp-admin .ctct-shortcode-wrap:focus-within {
  border-color: #747e88;
}

.wp-admin .ctct-shortcode-wrap input, .wp-admin .ctct-shortcode-wrap button {
  min-height: auto;
  height: 30px;
  font-size: 12px;
}

.wp-admin .ctct-shortcode-wrap input {
  background-color: transparent;
  border: none;
  font-size: 12px;
  padding: 0 10px 0 5px;
  margin: 0;
  flex: 1;
  box-shadow: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wp-admin .ctct-shortcode-wrap input:focus {
  box-shadow: none;
}

.wp-admin .ctct-shortcode-wrap button {
  border-radius: 4px;
  z-index: 1;
}

.ctct-block-title {
  margin: 0;
}

.ctct-block-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  background-color: #1756ec;
  padding: 40px;
  color: #fff;
}

.ctct-block-container--header, .ctct-block-container--selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ctct-block-container--header {
  margin: 0 0 10px;
}

.ctct-block-container--header img {
  max-width: 280px;
  display: block;
}

.ctct-block-container--selection {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  margin: 20px 0 0;
}

.ctct-block-container--selection small {
  opacity: 0.8;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 10px;
  display: block;
}

.ctct-block-container--component {
  max-width: 400px;
  width: 100%;
}

.ctct-block-container .ctct-block-logo {
  max-width: 80%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
