.updated.ctct-admin-notice,
.error.ctct-admin-notice {
  padding: 1em 38px 1em 1em;
  position: relative;
}

a.ctct-notice-dismiss {
  text-decoration: none;
}

#ctct-admin-notice-activation {
  padding: 1em 1em 0 1em;
}

#ctct-admin-notice-activation .ctct-notice-intro {
  max-width: 600px;
  line-height: 1.5em;
}

#ctct-admin-notice-activation .ctct-notice-button,
#ctct-admin-notice-activation .ctct-notice-button:active {
  vertical-align: middle;
  margin: .5em;
}

.ctct-admin-notice {
  overflow: hidden;
}

.ctct-admin-notice.updated {
  border-left-color: #1a5285;
}

.ctct-admin-notice > div {
  float: left;
}

.ctct-admin-notice .admin-notice-message {
  margin-left: 15px;
  width: 80%;
}

.ctct-admin-notice .admin-notice-message h4 {
  color: #1a5285;
  margin: 0 0 10px;
}

.ctct-admin-notice .admin-notice-message > div {
  float: left;
}
