#ctct-admin-notice {
  padding: 1em 1em 0 1em;
}

#ctct-admin-notice .ctct-notice-intro {
  max-width: 600px;
  line-height: 1.5em;
}

#ctct-admin-notice .ctct-notice-button,
#ctct-admin-notice .ctct-notice-button:active {
  vertical-align: middle;
  margin: .5em;
}

#ctct-admin-notice .ctct-notice-dismiss {
  padding-left: .5em;
  display: inline;
}

#ctct-admin-notice .ctct-notice-dismiss a, #ctct-admin-notice .ctct-notice-dismiss a.updated {
  vertical-align: middle;
}
