#adminmenu .wp-submenu a[href="edit.php?post_type=ctct_forms&page=ctct_options_connect"] {
  color: #3ad182;
}

.ctct_options_connect {
  box-sizing: border-box;
  padding: 70px;
  text-align: center;
  width: 100%;
}

.ctct_options_connect hr {
  margin-bottom: 45px;
}

@media screen and (max-width: 782px) {
  .ctct_options_connect {
    padding: 30px 30px 0;
    margin-left: -10px;
  }
}

.ctct_options_connect .ctct-call-to-action {
  margin-bottom: 45px;
  overflow: hidden;
  text-align: left;
  width: 100%;
}

.ctct_options_connect .ctct-call-to-action p {
  float: left;
  margin: 0;
}

.ctct_options_connect .ctct-call-to-action a {
  float: right;
  text-align: center;
}

@media screen and (max-width: 782px) {
  .ctct_options_connect .ctct-call-to-action a {
    float: none;
  }
}

.ctct_options_connect .ctct-call-to-action .ctct-call-to-action-text a {
  float: none;
}

.ctct_options_connect .ctct-call-to-action .ctct-call-to-action-text small {
  line-height: 1.2px;
}

.ctct_options_connect .ctct-call-to-action #subbox {
  height: 40px;
  margin: 15px 0;
  width: 50%;
}

.ctct_options_connect .ctct-call-to-action #subbutton {
  color: #0078C3;
  float: right;
}

@media screen and (max-width: 782px) {
  .ctct_options_connect .ctct-call-to-action #subbutton {
    float: none;
  }
}

.ctct_options_connect img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.ctct_options_connect h3 {
  color: #005990;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 10px;
  margin-top: 10px;
}

.ctct_options_connect p {
  color: #606d78;
  font-size: 14.7px;
  margin: 0;
}

.ctct_options_connect p.ctct-description {
  font-size: 16px;
  margin-bottom: 50px;
  margin-top: 5px;
}

.ctct_options_connect p.small {
  color: #747e88;
  font-size: 13.3px;
  margin: 15px auto 0;
}

@media screen and (max-width: 782px) {
  .ctct_options_connect p.small {
    max-width: 100%;
  }
}

.ctct_options_connect .ctct-body {
  margin: 0 auto;
  max-width: 75%;
  overflow-y: hidden;
  position: relative;
}

.ctct_options_connect .ctct-body:after {
  clear: both;
  content: "";
  display: table;
}

.ctct_options_connect .ctct-body .ctct-call-to-action-text {
  float: left;
  width: 75%;
}

@media screen and (max-width: 782px) {
  .ctct_options_connect .ctct-body .ctct-call-to-action-text {
    width: 100%;
  }
}

.ctct_options_connect .ctct-body .ctct-call-to-action-text h3 {
  margin-top: 0;
}

.ctct_options_connect .ctct-body .clear {
  width: 100%;
  clear: both;
  height: 0;
}

.ctct_options_connect .ctct-body .left,
.ctct_options_connect .ctct-body .right {
  box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-bottom: -500px;
  padding: 15px 0px 520px;
  text-align: center;
  width: 50%;
}

@media screen and (max-width: 782px) {
  .ctct_options_connect .ctct-body .left,
  .ctct_options_connect .ctct-body .right {
    float: none;
    margin-bottom: 0;
    padding: 15px 0;
    width: 100%;
  }
}

.ctct_options_connect .ctct-body .left img.flare,
.ctct_options_connect .ctct-body .left svg.flare,
.ctct_options_connect .ctct-body .right img.flare,
.ctct_options_connect .ctct-body .right svg.flare {
  width: 180px;
  height: auto;
}

.ctct_options_connect .ctct-body .left {
  border-right: 1px solid #ddd;
  padding-right: 70px;
}

@media screen and (max-width: 782px) {
  .ctct_options_connect .ctct-body .left {
    border-bottom: 1px solid #ddd;
    border-right: 0;
    padding-bottom: 30px;
    padding-right: 0;
  }
}

.ctct_options_connect .ctct-body .left p {
  max-width: 220px;
  margin: 0 auto 25px;
}

@media screen and (max-width: 782px) {
  .ctct_options_connect .ctct-body .left p {
    max-width: 100%;
  }
}

.ctct_options_connect .ctct-body .right {
  padding-left: 70px;
}

@media screen and (max-width: 782px) {
  .ctct_options_connect .ctct-body .right {
    padding-left: 0;
    padding-top: 30px;
  }
}

.ctct_options_connect .ctct-body .right p {
  display: block;
  max-width: 350px;
  margin: 0 auto 25px;
}

@media screen and (max-width: 782px) {
  .ctct_options_connect .ctct-body .right p {
    max-width: 100%;
  }
}

.ctct_options_connect .ctct-body .button {
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  height: auto;
  line-height: 1;
  margin-bottom: 10px;
  min-width: 180px;
  padding: 14px 30px;
}

.ctct_options_connect .ctct-body .button.button-orange {
  background-color: #FFA901;
  border: 1px solid #cd8800;
}

.ctct_options_connect .ctct-body .button.button-orange:hover, .ctct_options_connect .ctct-body .button.button-orange:focus {
  background-color: #cd8800;
}

.ctct_options_connect .ctct-body .button.button-blue {
  background-color: #0078C3;
  border: 1px solid #005990;
}

.ctct_options_connect .ctct-body .button.button-blue:hover, .ctct_options_connect .ctct-body .button.button-blue:focus {
  background-color: #005990;
}

.ctct_options_connect .ctct-body .ctct-connected .ctct-connected-next-step {
  margin-bottom: 40px;
}

.ctct_options_connect .ctct-body .ctct-connected .ctct-connected-next-step h3 {
  color: #2ECC40;
}

.ctct_options_connect .ctct-body .ctct-connected .ctct-disconnect-text {
  float: left;
  margin-bottom: 50px;
  overflow: hidden;
  text-align: left;
}

.ctct_options_connect .ctct-body .ctct-connected form {
  float: right;
}

.ctct_options_connect .ctct-body .ctct-connected .button {
  color: #0078C3;
}

.ctct_options_connect .ctct-body .ctct-connected .button.button-blue {
  color: #fff;
}

.ctct_options_connect .ctct-body .ctct-connected .ctct-connected-next-step {
  clear: both;
}

.ctct_options_connect .ctct-body .ctct-connected .ctct-connect-ga-optin {
  margin-top: 15px;
}

@media screen and (max-width: 782px) {
  .ctct_options_connect .ctct-body .ctct-connected .ctct-disconnect-text {
    float: none;
    text-align: center;
  }
  .ctct_options_connect .ctct-body .ctct-connected form {
    float: none;
  }
}

.error {
  background: none !important;
  border-left: 1px solid #FF4136 !important;
  border-radius: 3px;
  border: 1px solid #FF4136;
  box-shadow: none !important;
  display: inline-block;
  margin: 0 0 20px 0 !important;
}

.error p {
  color: #FF4136 !important;
}
