.constant-contact-about {
  padding: 15px;
}

@media screen and (max-width: 782px) {
  .constant-contact-about {
    padding: 0;
  }
}

.constant-contact-about .ctct-section {
  margin-bottom: 50px;
}

.constant-contact-about h1.about-header {
  color: #1a5285;
  font-size: 26px;
  margin: 0 0 15px 0;
}

.constant-contact-about h3 {
  padding: 20px 0;
}

.constant-contact-about p {
  font-size: 16px;
  font-weight: 300;
  color: #333333;
}

.constant-contact-about .clear {
  width: 100%;
  clear: both;
  height: 0;
}

.constant-contact-about .button {
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  height: auto;
  line-height: 1;
  margin-bottom: 10px;
  min-width: 180px;
  padding: 14px 30px;
  text-align: center;
}

.constant-contact-about .button.button-orange {
  background-color: #FFA901;
  border: 1px solid #cd8800;
}

.constant-contact-about .button.button-orange:hover, .constant-contact-about .button.button-orange:focus {
  background-color: #cd8800;
}

.constant-contact-about .button.button-blue {
  background-color: #0078C3;
  border: 1px solid #005990;
}

.constant-contact-about .button.button-blue:hover, .constant-contact-about .button.button-blue:focus {
  background-color: #005990;
}

.constant-contact-about .about-text {
  margin: 0 50px 0 0;
}

@media screen and (max-width: 482px) {
  .constant-contact-about .about-text {
    margiun: 0;
  }
}

.constant-contact-about .feature-section.two-col > div {
  width: 49%;
  float: left;
}

.constant-contact-about .headline-feature {
  max-width: 90%;
}

@media screen and (max-width: 782px) {
  .constant-contact-about .headline-feature {
    max-width: 100%;
  }
}

.constant-contact-about .headline-feature p {
  margin-bottom: 0;
}

.constant-contact-about .headline-feature h5 {
  font-weight: 300;
  color: #747e88;
  font-style: italic;
}

.constant-contact-about .headline-title, .constant-contact-about .c-text {
  text-align: center;
}

.constant-contact-about .featured-image {
  min-height: 150px;
  position: relative;
}

.constant-contact-about .fff-img {
  height: 315px;
  margin: 20px;
  overflow: hidden;
  max-width: 720px;
}

.constant-contact-about .introduction {
  padding: 20px 0;
}

.constant-contact-about .featured-title {
  color: white;
  font-size: 2em;
  font-weight: bold;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 15px #000;
  top: 80px;
  width: 100%;
}

@media screen and (max-width: 482px) {
  .constant-contact-about .featured-title {
    color: #1a5285;
    font-size: 26px;
    line-height: 28px;
    margin-top: 15px;
    position: relative;
    text-shadow: none;
    top: 0;
  }
}

.constant-contact-about .featured-introduction {
  color: white;
  font-size: 1.2em;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 15px #000;
  top: 120px;
  width: 100%;
}

@media screen and (max-width: 482px) {
  .constant-contact-about .featured-introduction {
    color: #1a5285;
    line-height: 1;
    margin-top: 15px;
    position: relative;
    text-shadow: none;
    top: 0;
  }
}

.constant-contact-about .hide-overflow {
  overflow: hidden;
  position: relative;
}

.constant-contact-about .hide-overflow hr {
  margin-top: 30px;
}

.constant-contact-about .hide-overflow h2 {
  font-weight: 400;
  font-size: 16px;
  color: #1a5285;
  text-align: left;
  margin-top: 30px;
}

.constant-contact-about .left-side {
  float: left;
  box-sizing: border-box;
  padding-right: 160px;
}

@media screen and (max-width: 482px) {
  .constant-contact-about .left-side {
    padding-right: 0;
  }
}

.constant-contact-about .plugin-badge {
  float: right;
  max-height: 180px;
  max-width: 160px;
  margin-left: 40px;
}

@media screen and (max-width: 482px) {
  .constant-contact-about .plugin-badge {
    display: none;
  }
}

.constant-contact-about .feature-image {
  text-align: center;
}

.cc-a-block {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 0;
  text-align: center;
}

.cc-a-block:after {
  clear: both;
  content: "";
  display: table;
}

@media screen and (max-width: 482px) {
  .cc-a-block {
    padding: 25px 0;
  }
}

.cc-a-block h3 {
  color: #1a5285;
  font-size: 21px;
  font-weight: 300;
  height: 63px;
  margin: 0 auto;
  max-width: 70%;
}

@media screen and (max-width: 782px) {
  .cc-a-block h3 {
    height: auto;
    max-width: 100%;
  }
}

.cc-a-block .left,
.cc-a-block .right {
  float: left;
  width: 50%;
}

.cc-a-block .left:after,
.cc-a-block .right:after {
  clear: both;
  content: "";
  display: table;
}

@media screen and (max-width: 482px) {
  .cc-a-block .left,
  .cc-a-block .right {
    width: 100%;
    float: none;
  }
}

.cc-a-block .left .ad-1,
.cc-a-block .left .ad-2,
.cc-a-block .right .ad-1,
.cc-a-block .right .ad-2 {
  width: 90%;
}

@media screen and (max-width: 482px) {
  .cc-a-block .left .ad-1,
  .cc-a-block .left .ad-2,
  .cc-a-block .right .ad-1,
  .cc-a-block .right .ad-2 {
    width: 100%;
    float: none;
  }
}

.cc-a-block .left .ad-1 img,
.cc-a-block .left .ad-2 img,
.cc-a-block .right .ad-1 img,
.cc-a-block .right .ad-2 img {
  width: 100%;
  height: auto;
}

.cc-a-block .left .ad-1,
.cc-a-block .right .ad-1 {
  float: left;
}

.cc-a-block .left .ad-1 h3,
.cc-a-block .right .ad-1 h3 {
  padding-top: 35px;
  height: 47px;
}

.cc-a-block .left .ad-2,
.cc-a-block .right .ad-2 {
  float: right;
}

.ctct-bonus-points {
  list-style: circle;
  padding-left: 50px;
  font-size: 16px;
  font-weight: 300;
  color: #2b5e8c;
}

.section-try-us .ctct-bonus-points {
  margin-bottom: 50px;
}

.section-try-us a.button {
  margin-right: 40px;
}

.section-try-us a.ctct-connect {
  font-weight: bold;
}

.section-marketing-tips #subbox {
  height: 40px;
  width: 50%;
}

#cmb2-metabox-ctct_option_metabox_settings .regular-text {
  width: 500px;
}

.cmb2-options-page #ctct_option_metabox_settings .cmb2-metabox > .cmb-row {
  background: transparent;
  border: none;
  box-shadow: none;
}

.ctct-body #ctct_error_logs {
  height: 400px;
  resize: vertical;
  width: 100%;
}
