#ctct-support li {
  padding: 0.8em 0;
}

#ctct-support ol li {
  list-style: none;
}

#ctct-support li {
  position: relative;
}

#ctct-support .answer {
  padding: 0.5em;
}

#ctct-support .question {
  font-size: 18px;
  font-weight: bold;
}

#ctct-support .question:before {
  content: "\f139";
  display: inline-block;
  font: normal 25px/1 'dashicons';
  margin-left: -25px;
  position: absolute;
  -webkit-font-smoothing: antialiased;
}

#ctct-support .question.active:before {
  content: "\f140";
}

#ctct-support .outer-first {
  width: 50%;
}

.constant-contact-about h1.about-header {
  font-size: 22px;
}

.constant-contact-about h3 {
  padding: 20px 0;
}

.constant-contact-about .about-text {
  margin: 1em 0.5em 1em 0;
}

.constant-contact-about .feature-section.two-col > div {
  width: 49%;
  float: left;
}

.constant-contact-about .headline-feature {
  max-width: 90%;
}

.constant-contact-about .headline-title, .constant-contact-about .c-text {
  text-align: center;
}

.constant-contact-about .featured-image {
  min-height: 150px;
  position: relative;
}

.constant-contact-about .fff-img {
  height: 195px;
  max-width: 500px;
  margin: 20px;
  overflow: hidden;
}

.constant-contact-about .introduction {
  padding: 1.8em 0;
}

.constant-contact-about .featured-title {
  text-align: center;
  position: absolute;
  top: 80px;
  margin: 0 auto;
  width: 100%;
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 15px #000;
}

.constant-contact-about .featured-introduction {
  text-align: center;
  position: absolute;
  top: 120px;
  margin: 0 auto;
  width: 100%;
  font-size: 1.2em;
  color: white;
  text-shadow: 0 0 15px #000;
}

.constant-contact-about .hide-overflow {
  overflow: hidden;
}

.constant-contact-about .left-side {
  float: left;
  max-width: 80%;
}

.constant-contact-about .plugin-badge {
  max-height: 180px;
  max-width: 160px;
  float: left;
  margin: 10px 0 0 0;
}

.constant-contact-about .feature-image {
  text-align: center;
}
