.ctct-modal {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  display: none;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

.ctct-modal:after {
  clear: both;
  content: "";
  display: table;
}

.ctct-modal h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.ctct-modal h3 {
  color: #005990;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 15px;
  margin-top: 10px;
}

.ctct-modal p {
  color: #555555;
  font-size: 14.7px;
}

.ctct-modal.ctct-modal-open {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}

.ctct-modal .ctct-modal-dialog {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 720px;
}

@media screen and (max-width: 1024px) {
  .ctct-modal .ctct-modal-dialog {
    max-width: 75%;
  }
}

@media screen and (max-width: 782px) {
  .ctct-modal .ctct-modal-dialog {
    left: 7.5%;
    top: 15%;
    transform: translate(0, 0);
    margin-bottom: 15%;
    max-width: 85%;
  }
}

.ctct-modal .ctct-modal-content {
  background-clip: padding-box;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
  outline: 0;
  padding: rem(10);
  position: relative;
}

.ctct-modal .ctct-modal-content .ctct-modal-header {
  background: #88C5E2 url(../images/cc-modal-bg.png) 50% 50% no-repeat;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 65px 20px 40px;
  text-align: center;
}

.ctct-modal .ctct-modal-content .ctct-modal-header p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 0;
}

.ctct-modal .ctct-modal-content .ctct-modal-header p .displayed-shortcode {
  color: #333333;
}

.ctct-modal .ctct-modal-content .ctct-modal-header .ctct-logo img {
  max-width: 75%;
}

.ctct-modal .ctct-modal-content .ctct-modal-header .ctct-modal-close {
  color: #ffffff;
  cursor: pointer;
  font-size: 26px;
  height: 16px;
  line-height: 0;
  margin: 0;
  outline: none;
  padding: 0;
  padding: 0;
  position: absolute;
  right: 10px;
  text-decoration: none;
  top: 18px;
  width: 16px;
}

.ctct-modal .ctct-modal-content .ctct-modal-header .ctct-modal-close:after {
  clear: both;
  content: "";
  display: table;
}

.ctct-modal .ctct-modal-content .ctct-modal-footer {
  background-color: #EFEFEE;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: 3px solid #fff;
  padding: 15px 15px 18px;
  text-align: center;
}

.ctct-modal .ctct-modal-content .ctct-modal-footer p {
  margin: 0;
  font-size: 16px;
}

.ctct-modal .ctct-modal-content .ctct-modal-footer a {
  color: #0078C3;
  text-decoration: underline;
}

.ctct-modal .ctct-modal-content .ctct-modal-footer.ctct-modal-footer-privacy a {
  text-decoration: none;
}

.ctct-modal .ctct-modal-content .ctct-modal-footer .button {
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  height: auto;
  line-height: 1;
  margin-bottom: 10px;
  min-width: 180px;
  padding: 14px 30px;
}

.ctct-modal .ctct-modal-content .ctct-modal-footer .button.no-bg {
  border: none;
  box-shadow: none;
  color: #0078C3;
}

.ctct-modal .ctct-modal-content .ctct-modal-footer .button.button-orange {
  background-color: #FFA901;
  border: 1px solid #cd8800;
}

.ctct-modal .ctct-modal-content .ctct-modal-footer .button.button-orange:hover, .ctct-modal .ctct-modal-content .ctct-modal-footer .button.button-orange:focus {
  background-color: #cd8800;
}

.ctct-modal .ctct-modal-content .ctct-modal-footer .button.button-blue {
  background-color: #0078C3;
  border: 1px solid #005990;
}

.ctct-modal .ctct-modal-content .ctct-modal-footer .button.button-blue:hover, .ctct-modal .ctct-modal-content .ctct-modal-footer .button.button-blue:focus {
  background-color: #005990;
}

.ctct-modal .ctct-modal-content .ctct-modal-body {
  padding: 15px;
  position: relative;
}

.ctct-modal .ctct-modal-content .ctct-modal-body:after {
  clear: both;
  content: "";
  display: table;
}

.ctct-modal .ctct-modal-content .ctct-modal-body.ctct-privacy-modal-body {
  overflow: scroll;
  height: 350px;
}

.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-left,
.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-right {
  float: left;
  padding: 15px 50px 15px;
  text-align: center;
  width: 50%;
  box-sizing: border-box;
}

@media screen and (max-width: 782px) {
  .ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-left,
  .ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-right {
    width: 100%;
    float: none;
  }
}

.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-left img.ctct-modal-flare,
.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-left svg.ctct-modal-flare,
.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-right img.ctct-modal-flare,
.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-right svg.ctct-modal-flare {
  max-width: 120px;
  height: auto;
}

.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-left p,
.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-right p {
  max-width: 90%;
  margin: 0 auto 25px;
}

.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-left p.small,
.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-right p.small {
  line-height: 1;
  margin: 0;
  max-width: 100%;
}

.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-left small,
.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-right small {
  font-style: italic;
}

.ctct-modal .ctct-modal-content .ctct-modal-body .now-what {
  text-align: center;
}

.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-left {
  border-right: 1px solid #EFEFEE;
}

@media screen and (max-width: 782px) {
  .ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-left {
    border-bottom: 1px solid #EFEFEE;
    border-right: 0;
  }
}

.ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-right {
  border-left: 2px solid #EFEFEE;
}

@media screen and (max-width: 782px) {
  .ctct-modal .ctct-modal-content .ctct-modal-body .ctct-modal-right {
    border-top: 1px solid #EFEFEE;
    border-left: 0;
  }
}

.ctct-modal .ctct-modal-content .ctct-modal-body.ctct-custom-textarea .ctct-modal-left {
  border: none;
  padding-left: 15px;
  text-align: left;
}

.ctct-modal .ctct-modal-content .ctct-modal-body.ctct-custom-textarea .ctct-modal-right {
  border: none;
  padding: 15px;
}

.ctct-modal .ctct-modal-content .ctct-modal-body.ctct-custom-textarea .ctct-modal-right img {
  max-width: 100%;
}

.ctct-modal .ctct-modal-content .ctct-modal-body .button {
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  height: auto;
  line-height: 1;
  margin-bottom: 10px;
  min-width: 180px;
  padding: 14px 30px;
}

.ctct-modal .ctct-modal-content .ctct-modal-body .button.button-orange {
  background-color: #FFA901;
  border: 1px solid #cd8800;
}

.ctct-modal .ctct-modal-content .ctct-modal-body .button.button-orange:hover, .ctct-modal .ctct-modal-content .ctct-modal-body .button.button-orange:focus {
  background-color: #cd8800;
}

.ctct-modal .ctct-modal-content .ctct-modal-body .button.button-blue {
  background-color: #0078C3;
  border: 1px solid #005990;
}

.ctct-modal .ctct-modal-content .ctct-modal-body .button.button-blue:hover, .ctct-modal .ctct-modal-content .ctct-modal-body .button.button-blue:focus {
  background-color: #005990;
}

.post-type-ctct_forms .misc-pub-section.misc-pub-visibility, .post-type-ctct_forms .misc-pub-section.misc-pub-curtime {
  display: none;
}

body.post-type-ctct_lists .misc-pub-post-status {
  display: none;
}

body.post-type-ctct_forms #titlediv #title {
  height: 2.7em;
}

.ctct-admin-title-details {
  font-size: .6em;
  vertical-align: middle;
  display: block;
  line-height: 2em;
}

#cmb2-metabox-ctct_1_optin_metabox .cmb2-id--ctct-opt-in-instructions,
#cmb2-metabox-ctct_1_optin_metabox .cmb2-id--ctct-opt-in {
  display: none;
}

#ctct_0_description_metabox #custom_fields_group_repeat .cmb-field-list .cmb-row:not(:last-of-type),
#ctct_1_optin_metabox #custom_fields_group_repeat .cmb-field-list .cmb-row:not(:last-of-type),
#ctct_2_fields_metabox #custom_fields_group_repeat .cmb-field-list .cmb-row:not(:last-of-type) {
  border-bottom: none;
  padding-bottom: 0.1em;
}

#ctct_0_description_metabox #custom_fields_group_repeat .required,
#ctct_1_optin_metabox #custom_fields_group_repeat .required,
#ctct_2_fields_metabox #custom_fields_group_repeat .required {
  padding-bottom: 0.1em;
  padding-top: 0.1em;
}

#ctct_0_description_metabox #default_fields_group_repeat .cmb-field-list > .cmb-row,
#ctct_1_optin_metabox #default_fields_group_repeat .cmb-field-list > .cmb-row,
#ctct_2_fields_metabox #default_fields_group_repeat .cmb-field-list > .cmb-row {
  padding-top: 0.5em;
}

#ctct_0_description_metabox #default_fields_group_repeat .cmb-field-list > .cmb-row:not(:last-of-type),
#ctct_1_optin_metabox #default_fields_group_repeat .cmb-field-list > .cmb-row:not(:last-of-type),
#ctct_2_fields_metabox #default_fields_group_repeat .cmb-field-list > .cmb-row:not(:last-of-type) {
  padding-bottom: 0.1em;
  border-bottom: 1px solid #e9e9e9 !important;
}

#ctct_0_description_metabox .cmb-repeat-group-wrap .cmb-repeatable-grouping,
#ctct_1_optin_metabox .cmb-repeat-group-wrap .cmb-repeatable-grouping,
#ctct_2_fields_metabox .cmb-repeat-group-wrap .cmb-repeatable-grouping {
  margin: 0 0 1.5em 0;
}

#ctct_0_description_metabox .cmb-repeat-group-wrap .cmb-repeatable-grouping .cmb-row,
#ctct_1_optin_metabox .cmb-repeat-group-wrap .cmb-repeatable-grouping .cmb-row,
#ctct_2_fields_metabox .cmb-repeat-group-wrap .cmb-repeatable-grouping .cmb-row {
  margin: 0 0 0 0.3em;
}

#ctct_0_description_metabox .postbox-container .cmb-remove-field-row,
#ctct_1_optin_metabox .postbox-container .cmb-remove-field-row,
#ctct_2_fields_metabox .postbox-container .cmb-remove-field-row {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

#ctct_0_description_metabox .cmb-repeat-group-wrap,
#ctct_1_optin_metabox .cmb-repeat-group-wrap,
#ctct_2_fields_metabox .cmb-repeat-group-wrap {
  padding: 0 !important;
}

#ctct_0_description_metabox .cmb-repeat-group-wrap .cmb-repeat-group-field,
#ctct_1_optin_metabox .cmb-repeat-group-wrap .cmb-repeat-group-field,
#ctct_2_fields_metabox .cmb-repeat-group-wrap .cmb-repeat-group-field {
  padding-top: 0.2em;
}

#ctct_0_description_metabox button.cmb-add-group-row,
#ctct_1_optin_metabox button.cmb-add-group-row,
#ctct_2_fields_metabox button.cmb-add-group-row {
  color: white !important;
  background: #008ec2 !important;
  border-color: #006799 !important;
}

#ctct_0_description_metabox .cmb2-metabox button.dashicons-before.dashicons-no-alt.cmb-remove-group-row,
#ctct_1_optin_metabox .cmb2-metabox button.dashicons-before.dashicons-no-alt.cmb-remove-group-row,
#ctct_2_fields_metabox .cmb2-metabox button.dashicons-before.dashicons-no-alt.cmb-remove-group-row {
  top: .3em;
}

#ctct_0_description_metabox button.cmb-remove-group-row,
#ctct_1_optin_metabox button.cmb-remove-group-row,
#ctct_2_fields_metabox button.cmb-remove-group-row {
  background: #ffdfa3 !important;
}

#ctct_0_description_metabox button.cmb-remove-group-row,
#ctct_1_optin_metabox button.cmb-remove-group-row,
#ctct_2_fields_metabox button.cmb-remove-group-row {
  display: none;
}

#ctct_0_description_metabox h3.cmb-group-title.cmbhandle-title,
#ctct_1_optin_metabox h3.cmb-group-title.cmbhandle-title,
#ctct_2_fields_metabox h3.cmb-group-title.cmbhandle-title {
  padding-left: 1em;
}

#ctct_1_optin_metabox .cmb-row {
  border-bottom: none;
}

#ctct_1_optin_metabox .cmb2-id--ctct-list {
  padding-bottom: 0.5em;
}

#ctct_1_optin_metabox .cmb-th {
  width: 25%;
}

#ctct_1_optin_metabox .cmb-th + .cmb-td {
  width: 70%;
}

#ctct_option_metabox_settings span.cmb2-metabox-description {
  color: #444444;
}
